@model TemploOnline.Models.ViewModels.TextBookDetailsViewModel
@{
  var title = $"Revista: {Model.Name}";
  var description = $"Detalhes da revista {Model.Name}";
  ViewData["Title"] = $"{title} | {description}";
}

<h1>@title</h1>
<p>@description</p>
<a asp-action="Index" class="btn bg-light">
  <i class="fas fa-angle-double-left"></i> Voltar
</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
  <i class="far fa-edit"></i> Editar
</a>

<hr>
<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.Id): </span>
  <span>@Model.Id</span>  
</p>
<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.Name): </span>
  <span>@Model.Name</span>
</p>
<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.CategoryName): </span>
  <span>@Model.CategoryName</span>
</p>

@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
  <script src="~/js/textbooks/details.js"></script>
}