@model TemploOnline.Models.ViewModels.TextBookViewModel
@{
  var title = "Detalhes da revista";
  ViewData["Title"] = title;
}

<h1>@title</h1>
<a asp-action="Index" class="btn bg-light">
  <i class="fas fa-angle-double-left"></i> Voltar
</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
  <i class="far fa-edit"></i> Editar
</a>
<button class="btn btn-danger" id="btn-delete" data-textbook-id="@Model.Id">
  <i class="fas fa-times"></i> Remover
</button>
<hr>
<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.Id): </span>
  <span>@Model.Id</span>  
</p>
<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.Name): </span>
  <span>@Model.Name</span>
</p>
<p>
  <span class="font-weight-bold">Categoria: </span>
  <span>@Model.Category.Name</span>
</p>
@if (Model.Lessons.Any())
{
  <p>
    <span class="font-weight-bold">
      Lições:
    </span>
  <ul>
    @foreach (var lesson in Model.Lessons.OrderBy(l => l.LessonNumber))
    {
      <li>
        <a 
          asp-action="Details" 
          asp-controller="Lessons" 
          asp-route-id="@lesson.Id" 
          asp-route-textbookId="@Model.Id">
          <span>Lição @lesson.LessonNumber: </span>
          <span>@lesson.Name</span>
          </a>
      </li>    
    }
  </ul>
  </p>
}

@if (@Model.Lessons.Count() < 14)
{
  <a 
    asp-action="New" 
    asp-controller="Lessons" 
    asp-route-textbookId="@Model.Id"
    class="btn btn-primary">
    <i class="far fa-file"></i> Adicionar Lição
  </a>
}


@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
  <script src="~/js/textbooks/details.js"></script>
}