@model TemploOnline.Models.ViewModels.ClassroomViewModel
@{
  var title = "Detalhes da sala";
  ViewData["Title"] = title;
}

<h1>@title</h1>
<a class="btn bg-light" asp-action="Index">
  <i class="fas fa-angle-double-left"></i> Voltar
</a>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
  <i class="far fa-edit"></i> Editar
</a>

<button class="btn btn-danger" id="btn-delete" data-classroom-id="@Model.Id">
  <i class="fas fa-times"></i> Remover
</button>
<hr>
<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.Id): </span>
  <span>@Model.Id</span>
</p>

<p>
  <span class="font-weight-bold">@Html.DisplayNameFor(m => m.Name): </span>
  <span>@Model.Name</span>
</p>


@{
  var teachers = Model.People
      .Where(p => p.PeopleClassrooms
        .Any(pc => pc.AsTeacher))
      .OrderBy(t => t.Name);
  var students = Model.People
      .Where(p => p.PeopleClassrooms
        .Any(pc => !pc.AsTeacher))
      .OrderBy(t => t.Name);
}

@if (teachers.Any())
{
  <p>
    <span class="font-weight-bold">
      Professores:
    </span>
  </p>
  <ul>
    @foreach (var teacher in teachers)
    {
      <li>
        <span>@teacher.Nickname</span>
      </li>
    }
  </ul>
}

@if (students.Any())
{
  <p>
    <span class="font-weight-bold">
      Alunos:
    </span>
  </p>
  <ul>
    @foreach(var student in students)
    {
      <li>
        <span>@student.Nickname</span>
      </li>
    }
  </ul>
}


@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
  <script src="~/js/classrooms/details.js"></script>
}