@model TemploOnline.Models.ViewModels.ClassroomViewModel
@{
  var title = "Detalhes da sala";
  ViewData["Title"] = title;
}

<h1>@title</h1>
<a class="btn bg-light" asp-action="Index">
  <i class="fas fa-angle-double-left"></i> Voltar
</a>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
  <i class="far fa-edit"></i> Editar
</a>

<button class="btn btn-danger" id="btn-delete" data-classroom-id="@Model.Id">
  <i class="fas fa-times"></i> Remover
</button>
@{
  var teachers = Model.People
      .Where(p => p.PeopleClassrooms
        .Any(pc => pc.AsTeacher))
      .OrderBy(t => t.Name);
  var students = Model.People
      .Where(p => p.PeopleClassrooms
        .Any(pc => !pc.AsTeacher))
      .OrderBy(t => t.Name);
}

<div class="row my-3">
  <div class="card rounded classroom-details-card col-12">
    <div class="card-header">
      <h1 class="text-white">@Model.Name</h1>
    </div> 
    <div class="card-body">
      <a asp-action="New" asp-controller="AttendancesLists" asp-route-classroomId="@Model.Id">
        <i class="fas fa-plus"></i> Chamada
      </a>
      <h2>Professores</h2>
      <hr/>
      <div class="people-list">    
        @if (teachers.Any())
        {        
          @foreach (var teacher in teachers)
          {
            <p>@teacher.Nickname</p>
          }
        }
        else
        {   
          <h3 class="text-muted">Esta sala de aula ainda não possui professores</h3>
        }
      </div>
      <h2>Alunos</h2>
      <hr/>
      <div class="people-list">      
        @if (students.Any())
        { 
          @foreach(var student in students)
          {
            <p>@student.Nickname</p>
          }
        }
        else 
        {
          <h3 class="text-muted">Esta sala de aula ainda não possui alunos</h3>
        }
      </div>
    </div>
  </div>
</div>


@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
  <script src="~/js/classrooms/details.js"></script>
}