@model TemploOnline.Models.ViewModels.ClassroomViewModel
@{
  var title = "Editar Sala";
  ViewData["Title"] = title;
}

<h1>@title</h1>
<hr>
<form method="post" asp-action="edit">
  <div class="form-group">
    <label asp-for="@Model.Name"></label>
    <input type="text" class="form-control" asp-for="@Model.Name">
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label>Professores</label>
    <select name="Teachers" id="Teachers"  multiple="mutiple" class="form-control">
      @foreach (var teacher in @Model.People.Where(p => p.IsTeacher))
      {
        if (teacher.PeopleClassrooms != null)
        {
          if (teacher.PeopleClassrooms.Any(pc => pc.ClassroomId == @Model.Id && pc.AsTeacher))
          {
            <option selected value="@teacher.Id">@teacher.Nickname</option>
            continue;
          }
        }      
        <option value="@teacher.Id">@teacher.Nickname</option>        
      }
    </select>
  </div>
  <div class="form-group">
    <label>Alunos</label>
    <select name="Students" id="Students" multiple="multiple" class="form-control">
      @foreach (var student in @Model.People.Where(p => p.IsStudent))
      {
        if (student.PeopleClassrooms != null)
        {
          if (student.PeopleClassrooms.Any(pc => pc.ClassroomId == @Model.Id && !pc.AsTeacher))
          {
            <option selected value="@student.Id">@student.Nickname</option>
            continue;
          }
        }
        <option value="@student.Id">@student.Nickname</option>
      }
    </select>
  </div>

  <div class="form-group col-sm-12 col-md-6">
    <label asp-for="@Model.CoverUrl"></label>
    <input asp-for="@Model.CoverUrl" id="cover-img-input" type="hidden"/>
    <div>
      <img class="col-12" id="cover-img" src="@Model.CoverUrl"/>
    </div>
    <button class="btn btn-primary mt-2" id="btn-cover">
      <i class="fas fa-image"></i> Escolher Capa
    </button>
  </div>

  <input type="hidden" asp-for="@Model.Id">
  @Html.AntiForgeryToken()
  <a asp-action="Index" class="btn bg-light"><i class="fas fa-angle-double-left"></i> Cancelar</a>
  <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Salvar</button>
</form>

<div class="modal fade" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span>
          <h2>Escolha uma imagem</h2>
        </span>
        <span class="float-right">
          <button class="btn btn-danger" id="close-btn">
            &times;
          </button>
        </span>
      </div>
     <div class="modal-body">
       <form class="inline-form">
         <div class="form-group">
          <input type="text" class="form-control" id="input-search" placeholder="Pesquise...">
          <button class="btn btn-outline-success mt-2" id="btn-search">
            <i class="fas fa-search"></i>
            Pesquisar
          </button>        
        </div>
        </form>
       <div id="img-selector" class="row mt-3"></div>
       <div id="btn-more" class="mb-2">
         <button class="btn btn-primary">
           <i class="fas fa-plus"></i>
           Ver mais
         </button>
       </div>
       <div class="modal-footer">
         <div class="row">
            <a href="https://pixabay.com/" target="_blank">
              <img class="col-12" src="https://pixabay.com/static/img/public/leaderboard_b.png" alt="Pixabay">
            </a>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>

@section scripts 
{
  <link rel="stylesheet" href="~/lib/select2/css/select2.min.css"/>
  <script src="~/lib/select2/js/select2.min.js"></script>
  <script src="~/js/classrooms/select2.js"></script>
  <script src="~/js/classrooms/cover-img.js"></script>
}