@model TemploOnline.Models.ViewModels.ClassroomListingViewModel
@using TemploOnline.Controllers.IdentityHelpers
@{
  var title = "Salas de aula";
  ViewData["Title"] = title;
}

<h1>@title</h1>
<hr>
<div class="row">
  @foreach (var classroom in Model.Classrooms)
  {
    <div 
      data-classroom-id="@classroom.Id" 
      class="card col-sm-12 col-md-3 mx-1 my-1 classroom-card">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title"> @classroom.Name</h5>
        <div class="text-muted">
            <p>Professores: @classroom.PeopleClassrooms.Where(pc => pc.AsTeacher).Count()</p>
            <p>Alunos: @classroom.PeopleClassrooms.Where(pc => !pc.AsTeacher).Count()</p>
          </div>
      </div>                     
    </div>
  } 
  @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dev))
  {
    <div class="col-sm-12 col-md-3 mt-5">
      <a asp-action="New" class="btn rounded-circle bg-light"><i class="fas fa-plus display-4"></i></a>
    </div>
  }  
</div>

@section scripts
{
  <script>
    $(document).ready(function () {
      $(".classroom-card").click(function () {
        $(location).attr("href", "/Classrooms/Details/" + $(this).attr("data-classroom-id"))
      })
    })
  </script>
}