@model TemploOnline.Models.ViewModels.CategoryListingViewModel
@{
  var title = "Categorias";
  var description = "Listagem de categorias";
  ViewData["Title"] = $"{title} | {description}";
}

<div class="container">
  <h1>@title</h1>
  <p>@description</p>
  <a asp-action="New" class="btn btn-primary"><i class="far fa-file"></i> Novo</a>
  <hr>
  <table class="table striped-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var categoria in Model.Categories)
      {
        <tr>
          <td>@categoria.Id</td>
          <td>@categoria.Name</td>
          <td>
              <a asp-action="Details" asp-route-id="@categoria.Id" class="btn btn-info">
                <i class="fas fa-info"></i> Detalhes
              </a>
            </td>
        </tr>
      }
    </tbody>
  </table>
</div>