@model TemploOnline.Models.ViewModels.CategoryViewModel
@{
  var title = "Nova Categoria";
  var description = "Crie uma nova categoria";
  ViewData[""] = $"{title} | {description}";
}

<div class="container">
  <h1>@title</h1>
  <p>@description</p>
  <hr>
  <form method="post" asp-action="new">
    <div class="form-group">
      <label asp-for="@Model.Name"></label>
      <input class="form-control" asp-for="@Model.Name" type="text">
      <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <input asp-for="@Model.Id" type="hidden">
    @Html.AntiForgeryToken()    
    <a asp-action="Index" class="btn bg-light"><i class="fas fa-angle-double-left"></i> Cancelar</a>
    <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Salvar</button>
  </form>
</div>